
.table td, .table th{
    border-top: none;
}
.table thead th{
    border-bottom: none;
}
.table{
    margin-left: 100px;
}
td{
    color: #444;
}

.flex{
    display: flex;
    justify-content: space-around;
}
.fa {
    padding: 12px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
}
  .fa-facebook, .fa-linkedin, .fa-instagram,.fa-twitter {
    background: #fff;
    color: #000;
    border: 1px #444 solid;
    margin-left: 55px;
  }
 
.text-center{
    margin-top: 110px;
}
h2{
    margin-right: 60px;
}
.text-left {
    text-align: left!important;
    margin-left: 420px;
    margin-top: 50px;
    
}
.Save-button, .Save-button:hover{
    color: black;
}
.staff-message{
    padding-left: 22px;
    border-left: 1px solid #bababa ;
    color: #bababa;
    margin-top: 10px;
}
.img-fluid{
    width: 100%;
    height: 500px;
}
.main-text{
    display: flex;
    justify-content: center;
    width: 90%;
}
.bar {
    list-style: none;
  }
  .bar >li {
    position: relative;
  }
  .bar>li:before {
    content: '\25CF';
    margin-right: 10px;
    font-size: 20px;
    position: relative;
    top: 25px;
    color: #ccc;
  }
  .bar>li:after {
    position: absolute;
    left: 0;
    top: 100px;
    content: '';
    border-left: 2px solid rgb(212, 212, 212);
    margin-left: 5px;
    height: 150%;
  }
  .bar >li:first-of-type:after {
    top: 50%;
    
  }
  .bar >li:last-of-type:after {
    top: -50%;
  }
  p, h3, h4{
      margin-left: 35px;
  }

.btn-block {
    display: block;
    width: 75%;
    margin-left: 95px;
    margin-top: 45px;
<<<<<<< HEAD
}
=======
    background-color: #fff;
    color: #444;
    border-radius: 0;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nav-right{
    display: flex;
    justify-content: space-between;
}
.fisrt-section{
    display: flex;
    justify-content: flex-start;
}
.nav-icon{
    padding: 0;
}
a:hover {
    color: #0056b3;
    text-decoration: none;
}
h3{
    font-family: 'Yeseva One', cursive;
    line-height: 50px;
    font-weight: 400;
}
>>>>>>> f17217da7fac74b4acc91846d54a34b0d902801b
