.bar {
    list-style: none;
  }
  .bar >li {
    position: relative;
  }
  .bar>li:before {
    content: '\25CF';
    margin-right: 10px;
    font-size: 20px;
    position: relative;
    top: 25px;
    color: #ccc;
  }
  .bar>li:after {
    position: absolute;
    left: 0;
    top: 100px;
    content: '';
    border-left: 2px solid rgb(212, 212, 212);
    margin-left: 5px;
    height: 150%;
  }
  .bar >li:first-of-type:after {
    top: 50%;
    
  }
  .bar >li:last-of-type:after {
    top: -50%;
  }
  p, h3, h4{
      margin-left: 35px;
  }

.btn-block {
    display: block;
    width: 75%;
    margin-left: 95px;
    margin-top: 45px;
}

.table td, .table th{
    border-top: none;
}
.table thead th{
    border-bottom: none;
}
td{
    color: #444;
}
.icons{
    padding: 0;
    margin-right: -30px;
}
.fa {
    padding: 12px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
}
  .fa-facebook, .fa-linkedin, .fa-instagram,.fa-twitter {
    background: #fff;
    color: #000;
    border: 1px #444 solid;
  }
  
